body {
  margin: 0;
  padding: 0;
  background-color: #ffecf0; 
  font-family: 'Arial', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  text-align: center;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}

.header {
  background-color: #ff8fa0;
  color: #fff;
  padding: 20px;
  text-align: center; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.timer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.word-stream {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-word {
  background-color: #50d890; 
}

.input-field {
  margin-top: 20px;
  width: 50%;
}

input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restart-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #ff6b81;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.restart-button:hover {
  background-color: #e6436d;
}

.results {
  font-size: 20px;
  margin-top: 20px;
}

.results p {
  margin: 10px 0;
}

.word-stream {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.word-stream span {
  width: calc(20% - 20px);
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.word-stream .current-word {
  background-color: #f0f0f0;
}

.word-stream .correct {
  color: green;
}

.word-stream .incorrect {
  color: red;
}