.add-note-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.color-options {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.color-option {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.color-option.selected {
  border-color: #333;
}

.add-button {
  background-color: #adff2f;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  border: none;
  border-radius: 20px;
  padding: 5px 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #9be62b;
}