.restart-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #ff6b81;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.restart-button:hover {
  background-color: #e6436d;
}