body {
  margin: 0;
  padding: 0;
  background-color: #ffecf0; 
  font-family: 'Arial', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  text-align: center;
  padding: 20px;
  margin-top: -20px;
  max-width: 700px;
  width: 100%;
}

.app-header {
  background-color: #ff6b81; 
  color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  position: relative;
  margin-bottom: 20px;
}

.app-header h1 {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(45deg, #ff8ff6, #edffec, #75e3eb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header {
  background-color: #ff8fa0;
  color: #fff;
  padding: 20px;
  text-align: center; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.game-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}