body {
  margin: 0;
  background-color: #0b0317; 
  font-family: apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,
  'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji',
  'Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  caret-color: #94ffc7;
}

.search-icon-custom-color{
  color: #ff6961AA;
}

.search-icon-custom-color:hover{
  color: #ff6961DD;
}

.ant-btn-link>span {
  color: #fcfcfc !important;
}
.ant-btn-link:hover>span {
  color: #94ffc7DD !important;
}
